<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Edit Task</title>
</head>
<body>
<div class="container">
    <h1>Edit Task</h1>
    <form action="/update/<%= taskToEdit.id %>" method="post">
        <input type="text" name="updatedTaskName" value="<%= taskToEdit.name %>" required>
        <button type="submit">Update Task</button>
    </form>
</div>
</body>
</html>
